  body {
  /*   width: 100%; */
    height: 100%;
    margin: 0;
    padding: 0;
    border-top: 20px solid white;
    border-bottom: 20px solid white;
    background: white;
    /* Old browsers */
    background: -moz-linear-gradient( white 100%);
    /* FF3.6-15 */
    background:white 100%;
  }

* {
    box-sizing: border-box;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  *:before {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  *:after {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  html {
  /*   width: 100%; */
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }
  
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  figure {
    margin: 0;
  }
  
  .resume {
    position: relative;
    width: 800px;
    margin: 30px auto;
    background-color: white;
    letter-spacing: 1px;
    color: #666;
    overflow: hidden;
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  .resume .top {
    position: relative;
    padding: 30px;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    text-align: center;
    color: white;
    letter-spacing: 3px;
  }
  .resume .top .title {
    font-size: 12px;
  }
  .resume .top .name {
    padding: 15px;
    font-size: 36px;
    font-weight: bold;
  }
  .resume .top .position {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid white;
    font-size: 16px;
  }
  .resume .top .position:before {
    content: '';
    position: absolute;
    top: 16px;
    left: -250px;
    display: block;
    width: 250px;
    height: 1px;
    background-color: white;
  }
  .resume .top .position:after {
    content: '';
    position: absolute;
    top: 16px;
    right: -250px;
    display: block;
    width: 250px;
    height: 1px;
    background-color: white;
  }
  .resume .down {
    display: -webkit-flex;
    display: flex;
  }
  .resume .down .left {
    position: relative;
    width: 250px;
    padding: 45px 25px;
    background-color: #efefef;
    overflow: hidden;
  }
  .resume .down .left .photo {
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ddd;
  }
  .resume .down .left .photo img {
    width: 100%;
  }
  .resume .down .right {
    position: relative;
    width: 550px;
    padding: 15px 25px 45px;
  }
  .resume .down .right .section-title {
    text-align: left;
  }
  .resume .down .section-title {
    position: relative;
    padding: 30px 0 5px 0;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: #444;
  }
  .resume .down .section-title:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 1px;
    background-color: #888;
  }
  .resume .down .section.hello {
    padding: 15px 0;
  }
  .resume .down .section.contact .contact-list {
    /*margin: 30px 0 15px;*/
    text-align: center;
  }
  .resume .down .section.contact .contact-list {
    margin-bottom: 10px;
  }
  .resume .down .section.contact .contact-list .contact-icon {
    width: 25px;
    height: 25px;
    margin: 0;
  }
  .resume .down .section.contact .contact-list {
    margin-bottom: 5px; /*dito*/
  }
  .resume .down .section.work {
    overflow: hidden;
  }
  .resume .down .section.work .work-item {
    position: relative;
    margin: 15px 0;
    padding-left: 90px;
  }
  .resume .down .section.work .work-item .work-period {
    position: absolute;
    display: block;
    left: 0;
    padding: 1px 3px 1px 8px;
    font-size: 12px;
    border: 1px solid #ff9a9e;
    border-right: none;
  }
  .resume .down .section.work .work-item .work-period:after {
    content: '';
    display: block;
    position: absolute;
    right: -7px;
    top: 2px;
    width: 13.2px;
    height: 13.2px;
    border-right: 1px solid #ff9a9e;
    border-bottom: 1px solid #ff9a9e;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .resume .down .section.work .work-item .work-company {
    font-weight: bold;
    margin: 5px 0 5px 4px;
  }
  .resume .down .section.work .work-item .work-position {
    font-size: 16px;
    font-weight: 900;
  }
  .resume .down .section.work .work-item {
    font-size: 14px;
    margin-top: 20px;
  }
  .resume .down .section.work .work-item:before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 65px;
    background-color: #ff9a9e;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .resume .down .section.work .work-item:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 120%;
    top: 6px;
    left: 70px;
    background-color: #ff9a9e;
  }
  .resume .down .section.skill .skill-list {
    margin-top: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .resume .down .section.skill .skill-list .skill-item {
    position: relative;
    width: 48%;
    margin-bottom: 10px;
  }
  .resume .down .section.skill .skill-list .skill-item .bar {
    position: relative;
    height: 15px;
    background-color: #efefef;
  }
  .resume .down .section.skill .skill-list .skill-item:nth-child(2) .bar:after {
    width: 95%;
  }
  .resume .down .section.skill .skill-list .skill-item:nth-child(3) .bar:after {
    width: 80%;
  }
  .resume .down .section.skill .skill-list .skill-item:nth-child(4) .bar:after {
    width: 60%;
  }
  .resume .down .section.skill .skill-list .skill-item:nth-child(5) .bar:after {
    width: 85%;
  }
  .resume .down .section.skill .skill-list .skill-item:nth-child(6) .bar:after {
    width: 70%;
  }
  .resume .down .section.personal .personal-list {
    margin-top: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .resume .down .section.personal .personal-list .personal-item {
    width: 23%;
  }
  .resume .down .section.personal .personal-list .personal-item .mask {
    position: relative;
    height: 85px;
    width: 85px;
    background-color:white;
    font-size: 12px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .resume .down .section.personal .personal-list .personal-item .space {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -50%;
    top: -50%;
    background: #efefef;
  }
  .resume .down .section.personal .personal-list .personal-item:nth-child(1) .space {
    top: -70%;
    -moz-transform: skewY(-20deg);
    -ms-transform: skewY(-20deg);
    -webkit-transform: skewY(-20deg);
    transform: skewY(-20deg);
  }
  .resume .down .section.personal .personal-list .personal-item:nth-child(3) .space {
    top: -30%;
    -moz-transform: skewY(20deg);
    -ms-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    transform: skewY(20deg);
  }
  .resume .down .section.personal .personal-list .personal-item:nth-child(4) .space {
    top: -60%;
    -moz-transform: skewY(-10deg);
    -ms-transform: skewY(-10deg);
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
  }
  
  .page-title {
    position: absolute;
    right: 5px;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
  }
  
  .mark {
    position: absolute;
    bottom: 100px;
    font-size: 200px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.035);
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 15px;
}

.info-section {
  margin: 1rem 0;
}

.work-des {
  font-size: 14px;
  margin: 2px 0 0 5px;
}

.resume .down .section.skill .skill-list .skill-item .bar:after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 90%;
  left: 0;
  top: 0;
  background-image: linear-gradient(45deg, #ffc0cb 0%, #ff9a9e 100%);
}

.resume .down .section.personal .personal-list .personal-item .progress {
  position: relative;
  height: 115px;
  width: 115px;
  background-image: linear-gradient(120deg, #fecfef 0%, #ff9a9e 100%);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: hidden;
}

.img-icon {
  width: 25px;
}

.contact {
  padding: 25px 0 0 0;
  font-size: 14px;
}

.fa-fa-phone-square , .fa-fa-envelope, .fa-fa-instagram, .fa-facebook-square, .fa-fa-github {
  font-size:25px;
}